In [12]:
import pandas as pd

In [13]:
df=pd.read_csv('train.csv')

In [ ]:
cols = df.columns.tolist()

In [ ]:
pre_smote={}

for col in cols:
    map=(df[col]!=0) & (df[col]!=1)
    obs=len(df.loc[map])
    pre_smote[col]=obs

In [4]:
dat=pd.read_csv('dat.csv')

In [5]:
dat.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,Month_June,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor,Revenue
0,2,79,0,0,117,4185,0,0,2,0,...,0,0,0,0,0,0,0,0,1,1
1,8,935,1,21,172,10524,0,0,3,0,...,0,0,0,1,0,0,0,0,1,1
2,5,262,0,0,45,1456,0,0,14,0,...,0,0,1,0,0,0,0,0,1,1
3,0,0,0,0,64,4492,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
4,8,238,4,142,30,1570,0,0,16,0,...,0,1,0,0,0,0,0,0,1,1

In [10]:
post_smote={}

for col in cols:
    map=(dat[col]!=0) & (dat[col]!=1)
    obs=len(dat.loc[map])
    post_smote[col]=obs

In [11]:
print(myDict)

{'Administrative': 7768, 'Administrative_Duration': 9909, 'Informational': 2436, 'Informational_Duration': 4056, 'ProductRelated': 15390, 'ProductRelated_Duration': 15327, 'BounceRates': 0, 'ExitRates': 0, 'PageValues': 7415, 'SpecialDay': 0, 'OperatingSystems': 12816, 'Browser': 13006, 'Region': 10500, 'TrafficType': 13379, 'Weekend': 0, 'Month_Aug': 0, 'Month_Dec': 0, 'Month_Feb': 0, 'Month_Jul': 0, 'Month_June': 0, 'Month_Mar': 0, 'Month_May': 0, 'Month_Nov': 0, 'Month_Oct': 0, 'Month_Sep': 0, 'VisitorType_New_Visitor': 0, 'VisitorType_Other': 0, 'VisitorType_Returning_Visitor': 0, 'Revenue': 0}